@media (max-width:960px){
    .center{
        padding-left: 10px;
        padding-right: 10px;
    }
    .emez{
        left: 9px;
        top: 37px;
        opacity: 0.8;
        width: 47%;
        height: 72%;
    }
    .header__top{
        min-height: 736px;
        &_nav{
            display: none;
        }
        &_navmob{
            display: inline;
        }
        &_text1{
            padding-top:  48px;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 125%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
        }
        &_text2{
            font-style: normal;
            font-weight: 400;
            font-size: 139px;
            line-height: 60%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
        }
        &_text11{
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 125%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
        }
        &_img11{
            width: 356px;
        }
        &_zero{
            gap:7px;
        }
        &_analiz{
            max-width: 557px;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 125%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
                &-img{
                    display: none;
                }
                &-imgmob{
                    display: inline;
                }
        }
    }
    .teachers{
        &__exp{
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 135%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
        }
    }
}