@media (max-width:960px){
    .center{
        padding-left: 10px;
        padding-right: 10px;
    }
    .emez{
        left: 9px;
        top: 37px;
        opacity: 0.8;
        width: 47%;
        height: 72%;
    }
    .header__top{
        min-height: 736px;
        &_nav{
            display: none;
        }
        &_navmob{
            display: inline;
        }
        &_text1{
            padding-top:  48px;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 125%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
        }
        &_text2{
            font-style: normal;
            font-weight: 400;
            font-size: 139px;
            line-height: 60%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
        }
        &_text11{
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 125%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
        }
        &_img11{
            width: 356px;
        }
        &_zero{
            gap:7px;
        }
        &_analiz{
            max-width: 557px;
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 125%;
            letter-spacing: -0.6px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
                &-img{
                    display: none;
                }
                &-imgmob{
                    display: inline;
                }
        }
    }
    .teachers{
        &__exp{
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 135%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
        }
    }
    .programm{
        &__item{
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 135%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
            &_col-color1{
                    grid-column: span 6;
            }
            &_col-color11{
                grid-column: span 6;
            }
            &_col-color2{
                display: none;
            }
            &_col_navik{
                grid-column: span 8;
            }
            &_col_checker{
                grid-column: span 4;
            }
            &_col_bar{
                padding-top: 48px;
                grid-column: span 12;
                padding-left: 0%;
                &-black{
                    margin-bottom: 9px;
                }
            }
            &_col-color2mob{
                    display: block;
                    grid-column: span 12;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 130%;
                    letter-spacing: -0.05px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #FFFFFF;
                    padding-bottom: 8px;
            }
            &_button{
                width: 620px;
                &-mob{
                    display: none;
                }
            }
        }
    }
    .about__kurs{
        font-style: normal;
        display: inline-block;
        font-weight: 400;
        font-size: 48px;
        line-height: 135%;
        letter-spacing: -0.05px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #00AEFA;
        &_skyeng{
            width: 40%;

        }
        &_text{
            padding-bottom: 26px;
        }
        &_item{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 37px;
            justify-content: space-evenly;
        }
        &_kons{
            display: none;
        }
    }
    .how__about{
        padding-top: 88px;
        &_text{
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 135%;
            letter-spacing: -0.05px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
            &-comandmain{
                flex-direction: column-reverse;
            }
        }
        &_img{
            display: none;
            &-six{
                display: none;
            }
        }
        &_imgmob{
            display: inline;
        }
        &_imgplay{
            display: none;
        }
        &_imgpoints{
            display: none;
        }
        &_comandmain{
            background-color: #F9EBFF;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            border-radius: 0;
            margin: 0;
            max-height: 100%;
            
        }
        &_item-content{
            width: 460px;
            &-text{
                display: none;
            }
            &-text1{
                display: none;
            }
            &-textmob{
                padding-bottom: 16px;
                display: block;
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 135%;
                letter-spacing: -0.05px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #000000;
            }
            &-text1mob{
                display: block;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 145%;
                letter-spacing: -0.05px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #000000;
            }

        }
        &_home{
            flex-direction: column-reverse;
            &-text{
                display: none;
            }
            &-content{
                padding-top: 24px;
                width: 460px;
                &-text{
                    display: none;
                }
                &-textmob{
                    display: inline;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 135%;
                    letter-spacing: -0.05px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #000000;
                }
                &-text1{
                    display: none;
                }
                &-text1mob{
                    display: inline;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 145%;
                    letter-spacing: -0.05px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #000000;
                }
                &-text2{
                    display: none;
                }
                &-text2mob{
                    display: inline;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 135%;
                    letter-spacing: -0.05px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #AD61FF;
                }
            }
            &-img{
                width: auto;
                height: 512px;
            }
            &-img-1{
                width: 540.05px;
                height: 349.16px;
            }
            &-img-2{
                width: 540.05px;
                height: 349.16px;       
            }
        }
        &_feedback{
            &-img{
                width: 620px;
                height: 505px;
            }
            &-crown{
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                justify-content: flex-end;
            }
            &-content{
                max-width: 380px;
                &-text1{
                    display: none;
                }
                &-text1mob{
                    display: inline;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 135%;
                    letter-spacing: -0.05px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #000000;
                }
                &-text3{
                    width: 140px;
                    text-align: center;
                }
                &-crown{
                    position: inherit;
                    padding-left: 0%;
                }

            }
           &_items{
            display: flex;
           }
        }
        &_kurs{
            margin-top: 40px;
            justify-content: flex-start;
            &-text1{
                max-width: 420px;
                padding-bottom: 24px;
                font-weight: 500;
                font-size: 32px;
                line-height: 135%;
                letter-spacing: -0.05px;
            }
            &-text2{
                display: none;
            }
            &-text2mob{
                display: inline;
                max-width: 688px;
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 135%;
                letter-spacing: -0.05px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #000000;
            }
            &-textcol{
                background-color: #E8BEFC;
            }
        }
    }
}